<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="http://w2ui.com/src/w2ui-1.5.rc1.min.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://w2ui.com/src/w2ui-1.5.rc1.min.js"></script>
</head>
<body>
    <div id="grid" style="width: 100%; height: 250px;"></div>
</body>
<script>
//    var records = null;
//    $.ajax({
//        type: "GET",
//        data: ({}),
//        dataType: 'json',
//        url: "/csvread/api/csv/",
//        success: function(data){
//             records = data.payload;
//             console.log(data.payload);
//             w2ui['grid'].reload();
//             console.log("Grid reloaded");
//
//        }
//    });

    // $(function () {
    //     $('#grid').w2grid({
    //         name: 'grid',
    //         header: 'List of Names',
    //         method: 'GET',
    //         columns: [
    //             { field: 'interval_in_NCBI_GDV', caption: 'interval in NCBI-GDV', size: '20%' },
    //             { field: 'Category', caption: 'Category', size: '30%' },
    //             { field: 'Gene_ID_v3', caption: 'Gene ID-v3', size: '40%' },
    //             { field: 'GrameneLink_v3', caption: 'GrameneLink-v3', size: '120px' },
    //             { field: 'Name', caption: 'Name', size: '120px' }
    //         ]
    //     });
    //     w2ui['grid'].load('/csvread/api/csv/', function(res) {
    //         console.log('get response: ', res)
    //     });
    // });

    // cloumn list what you want display (get from context)
    var column_list = JSON.parse('{{ column_list | escapejs }}')

    function w2uiGrid(selector, column_list) {
        // set width in screen         
        var item_size = '' + (Math.floor(100/column_list.length)) + '%';
        // api endpoint for getting data
        var api_url = '/csvread/api/csv/';
        
        $(function () {
            var newSelector = '#' + selector;
            $(newSelector).w2grid({
                name: selector,
                header: 'List of Names',
                method: 'GET'
            });
            w2ui[selector].load(api_url, function(res) {
                console.log('get data: ', res)
            });

            // add columns dynamically
            column_list.map(function(column) {
                 w2ui[selector].addColumn({ field: column, caption: column, size: item_size })
            })

            w2ui[selector].on('click', function(event) {
                var content = event['originalEvent'].target.textContent;
                if (content && content != '') {
                    if (content.indexOf('http://') > -1 || content.indexOf('https://') > -1) {
                        window.open(content, '_blank')    
                    }
                }
            })
            
        });
    }

    w2uiGrid('grid', column_list);    
</script>
</html>